.rectangle {
  position: absolute;
  left: var(--posx);
  top: var(--posy);

  width: var(--width);
  height: var(--height);

  background: var(--color);
  opacity: var(--invert-opacity);

  animation: reveal var(--duration) ease forwards;
  animation-delay: var(--delay);
}

@keyframes reveal {
  from {
    opacity: var(--invert-opacity);
  }
  to {
    opacity: calc(1 - var(--invert-opacity));
  }
}
