.bar {
  display: inline-block;

  width: calc(
    var(--length) * (1 - var(--vertical)) + var(--thickness) * var(--vertical)
  );
  height: calc(
    var(--length) * var(--vertical) + var(--thickness) * (1 - var(--vertical))
  );

  background: var(--bar-color);
  opacity: 0;

  transform-origin: calc((1 - var(--vertical)) * 0% + var(--vertical) * 50%)
    calc(var(--vertical) * 0% + (1 - var(--vertical)) * 50%);
  animation: reveal var(--duration) ease forwards;
  animation-delay: var(--delay);
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: scale(calc(var(--vertical)), calc(1 - var(--vertical)));
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}
