.wrapper {
  position: relative;
  display: inline-block;

  font-size: var(--fontSize);
  color: var(--font-color);
}

.text {
  display: inline-block;

  clip-path: inset(0 100% 0 0);

  animation: text var(--duration) ease forwards;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
}

@keyframes text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.scanner {
  position: absolute;
  top: 0;
  bottom: 0;

  opacity: 0;

  width: 3px;
  background: var(--scanner-color);

  animation: scanner ease forwards;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
}

@keyframes scanner {
  0% {
    left: 0%;
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}

/* 
extra: scanner but big chungus

.wrapper {
  position: absolute;
  left: var(--posx);
  top: var(--posy);

  font-size: var(--fontSize);
  color: var(--color);
}

.scanner {
  position: absolute;
  inset: 0;
  background: var(--color);

  transform-origin: 100% 50%;

  animation: scanner ease forwards;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
}

@keyframes  {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
*/
