@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-display: swap;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
}

/* for hiding scrollbar, use in app/projects/components/project */
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
