.bar {
  position: absolute;
  left: var(--posx);
  top: var(--posy);
  pointer-events: none;

  width: calc(var(--length) * var(--sx) + var(--thickness) * var(--sy));
  height: calc(var(--length) * var(--sy) + var(--thickness) * var(--sx));

  background: var(--bar-color);
  opacity: 0;

  transform-origin: calc(var(--sx) * 0% + var(--sy) * 50%)
    calc(var(--sy) * 0% + var(--sx) * 50%);
  animation: reveal var(--duration) ease forwards;
  animation-delay: var(--delay);
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: scale(calc(1 - var(--sx)), calc(1 - var(--sy)));
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}
