.scanner {
  position: absolute;
  left: var(--posx);
  top: var(--posy);
  pointer-events: none;

  width: calc(
    var(--length) * (1 - var(--vertical)) + var(--thickness) * var(--vertical)
  );
  height: calc(
    var(--length) * var(--vertical) + var(--thickness) * (1 - var(--vertical))
  );

  background: var(--scanner-color);
  opacity: 0;

  animation: scanner ease forwards;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
}

@keyframes scanner {
  0% {
    left: var(--posx);
    top: var(--posy);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    left: calc(var(--posx) + var(--vertical) * var(--move));
    top: calc(var(--posy) + (1 - var(--vertical)) * var(--move));
    opacity: 0;
  }
}
