.scanner {
  position: absolute;
  left: var(--posx);
  top: var(--posy);
  pointer-events: none;

  width: calc(var(--length) * var(--sx) + var(--thickness) * var(--sy));
  height: calc(var(--length) * var(--sy) + var(--thickness) * var(--sx));

  background: var(--scanner-color);
  opacity: 0;

  animation: scanner ease forwards;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
}

@keyframes scanner {
  0% {
    left: var(--posx);
    top: var(--posy);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    left: calc(var(--posy) + var(--sy) * var(--move));
    top: calc(var(--posx) + var(--sx) * var(--move));
    opacity: 0;
  }
}
